@import "_variables";
@import "blocks/_section-1_navbar";
@import "blocks/_section-1_overview";

.section-2 {
  width: 100%;
  padding: 0px;
  @media (min-width: 1200px) {
    min-height: 300px;
  }
}

.investors-and-media-list {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.investors-and-media-link {
    display: block;
    transition: all 0.2s;

    &:hover {
    transform: translateY(-5px);
    //transition: all 0s;
    //outline: 2px solid $secondary-color;
    //box-shadow: 0 0 3px 2px $secondary-color;
    //border-radius: 5px;
    //box-shadow: 0 0px 50px $secondary-color;
  }
}