.wrapper {
  max-width: 1440px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 45px;
  }

  @media (min-width: 576px) {
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 992px) {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 15px;
  }

  @media (min-width: 1200px) {
    padding-left: 90px;
    padding-right: 60px;
    padding-bottom: 40px;
  }

  @media (min-width: 1440px) {
    // padding-left: 118px;////
    // padding-right: 60px;
    padding-left: 80px;
    padding-right: 60px;
    //background-image: linear-gradient(74deg, #8a47db 45%, #1cb8c4 100%);
  }
}

.page-main .wrapper,
.footer-section .wrapper {
  background-image: none;
}

.section-2 .wrapper {
  padding-top: 83px;
  padding-bottom: 50px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;

  }

  @media (min-width: 1200px) {
    padding-left: 30px;
    padding-right: 25px;

  }

  @media (min-width: 1440px) {
    padding-left: 60px;
    padding-right: 50px;
  }
}

.section-3 .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: 992px) {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-top: 60px;
    padding-left: 118px;
    padding-right: 118px;
    padding-bottom: 60px;
  }
}

.section-4 .wrapper {
  padding-top: 62px;
  padding-bottom: 84px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.section-5 .wrapper {
  padding-top: 72px;
  padding-bottom: 62px;

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.section-6 .wrapper {
  padding-top: 85px;
  padding-bottom: 49px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 30px;
    padding-right: 25px;
  }

  @media (min-width: 1440px) {
    padding-left: 60px;
    padding-right: 50px;
  }
}


.section-7 .wrapper {
  padding-top: 68px;
  padding-bottom: 75px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.section-8 .wrapper {
  padding-top: 85px;
  padding-bottom: 42px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.section-9 .wrapper {
  padding-top: 85px;
  padding-bottom: 80px;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.footer-section .wrapper {
  padding-left: 45px;
  //padding-right: 30px;
  padding-top: 85px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-left: 25px;
  }

  @media (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 59px;
    padding-right: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 118px;
    padding-right: 118px;
  }
}

.page-main-container {
  padding-left: 0;
  padding-right: 0;
}
